.modal {
  position: fixed;
  left: 25vw;
  top: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  border-radius: 2rem;
  background-color: #d1d1d1;
  width: 73rem;
  height: 400px;
  padding: 25px 40px;
}

.input {
  height: 3.5rem;
  width: 100%;
  padding: 0.75rem 1.5rem;
  border-radius: 1.5rem;
  border-color: inherit;
  font-size: 1.25rem;
  line-height: 1.75rem;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.modal__container {
  position: fixed;
  display: block;
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal__container_active {
  opacity: 1;
  pointer-events: all;
}

.modal {
  transform: scale(0);
  transition: 0.4s all;
}

.modal.active {
  transform: scale(1);
}

.close {
  display: block;
  align-self: end;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  --weight: 3px;
  --aa: 1px;
  --color: rgb(18, 182, 152);
  background: linear-gradient(
      45deg,
      transparent calc(50% - var(--weight) - var(--aa)),
      var(--color) calc(50% - var(--weight)),
      var(--color) calc(50% + var(--weight)),
      transparent calc(50% + var(--weight) + var(--aa))
    ),
    linear-gradient(
      -45deg,
      transparent calc(50% - var(--weight) - var(--aa)),
      var(--color) calc(50% - var(--weight)),
      var(--color) calc(50% + var(--weight)),
      transparent calc(50% + var(--weight) + var(--aa))
    );
}

.input:invalid {
  border-color: red;
  border-width: 3px;
}
